.nav{background-color: black;}
h1{justify-self:center;}
#popular{justify-self:center;}

body{
   background-color: black;
}

.card {
    background-color: #1a1a1a;
    border-color: #333333;
    color: white;
}

.card-title {
    color: white;
}

.card-text {
    color: #aaaaaa;
}